<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahello"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ahello.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ahello.MenuCheck"
            android:label="@string/title_activity_menu_check" >
        </activity>
        <activity
            android:name="com.example.ahello.Event02"
            android:label="@string/title_activity_event02" >
        </activity>
        <activity
            android:name="com.example.ahello.Event03"
            android:label="@string/title_activity_event03" >
        </activity>
        <activity
            android:name="com.example.ahello.Event05"
            android:label="@string/title_activity_event05" >
        </activity>
        <activity
            android:name="com.example.ahello.FreeLine"
            android:label="@string/title_activity_free_line" >
        </activity>
        <activity
            android:name="com.example.ahello.PaintUndoRedo"
            android:label="@string/title_activity_paint_undo_redo" >
        </activity>
        <activity
            android:name="com.example.ahello.Draw"
            android:label="@string/title_activity_draw" >
        </activity>
    </application>

</manifest>
